<!-- bg-dark bg-light bg primary cores de fundo da navbar-->
<!-- navbar-dark/light cores dos textos-->
<nav class="navbar navbar-dark bg-primary">
    <a href="/" class="navbar-brand">
        <img src="/img/guia.png">
    </a>
</nav>